.news_main_page {
  display: flex;
  flex-direction: column;

  .news_main_header {
    display: flex;
  }

  .space {
    height: 2vh;
    background-color: #e3ebf8;
  }

  .news_main_content {
    width: 100%;
  }
}